/* Custom CSS Classes */

.option:checked {
  background-color: red;
  color: green;
}
.initialism {
  font-size: 90%;
  text-transform: none;
}
html[theme="default"] .btn {
    text-transform: none;
}

@media only screen and (max-width: 500px)
{
    body > div.lg.modal.fade.in > div {
    padding-top: 25%;
    }
}
@media only screen and (min-width: 501px)
{
    body > div.lg.modal.fade.in > div {
    padding-top: 10%;
    }
}

body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    font-size: 1.3em;
}
body > div.lg.modal.fade.in > div
body > div.lg.modal.fade.in > div > form > div.modal-dialog{
    padding-top: 3%;	
}

body > div.lg.modal.fade.in > div > form > div.modal-header {
    margin: 3px;
    border-bottom: 1px solid rgba(44, 62, 80, 0.15);
    background: #44b491;
    color: white;
    border-radius: 4px;
    
}

body > div.lg.modal.fade.in > div > form{
    background: #46b48e03;
    color: #054882;
    /* font-weight: 900; */
}
body > div.lg.modal.fade.in > div > form > div.modal-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: right;
    border: 0px;
   
}
body > div.lg.modal.fade.in > div > form > div.modal-backdrop.in {
    opacity: 0.3;
}
.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    }

.screen-container  { 
	background-color: white;
    padding: 5px;
  }

.btn-primary{
    color: #ffffff;
    background-color: rgb(77, 188, 156);
    border-color: rgba(18, 143, 118, 0.49);
}

.btn-primary:hover{
  border-color: rgb(59, 157, 142);
  transition: all 0.5s;
  cursor: pointer;
 
}

/*------------------------------------------*/
/*	     03 - Login Styles 
/*------------------------------------------*/


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    opacity:0.8;
}

/*.affix-top{
	background-color: #128f76;

}*/

.glyphicon-minus:before {
    content: "\2212";
   /* color: #15a589; */
}

/*.treeview > table.tree img.column-affix {
    width: 1.5em;
    height: 1.5em;
}*/

/*
.tab-pane .active > table{
    background-color: #ecf0f1;
    border-spacing: 1px;
    border-radius: 4px;
}
*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2c3e50;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-bottom-color: #ecf0f1;
    cursor: default;
}


.tab-pane active label{
    padding-right: 10px;
    padding-left: 10px;
}

.tab-pane .active > table .input-group{
    padding-right:5px;
    padding-bottom: 2px;
}
.tab-pane .active > table .form-selection{
    padding-right:5px;
}

.tab-pane .active > table .input-group input{
    border: 1px solid #dce4ec;
    border-radius: 4px;
}

.tab-pane .active > table > tbody > tr:nth-child(11) > td > div{
    width: 100%;
    padding-bottom: 12px;
    padding: 10px;
}
.tab-pane .active label {
    margin: 5px;
    padding-left: 15px;
}
#tablist li>a{
    color: white;
    /*background-color:rgb(38, 112, 146)!important;*/
}
#tablist li{
    /*background-color:rgb(38, 112, 146);*/

}
.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-left: 5px;
    margin-right: 3px;
}

.navbar-default .badge {
    background-color: "white";
    color: #ecf0f1;
}
.form-text{

    padding: 5px;
}
.form-one2many-content{
    width: 100%;
    visibility: visible;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #63aea1;
    border-radius: 10px;
}
.tree .table .table-hover .table-striped{
    color:#2C3E4D;
}
div.form-one2many-menu.panel-heading,
    div.form-many2many-menu.panel-heading,
    div.window-form-toolbar {
    color: white;
    background-color: #26718f;
    border-color: #267092;
}
.panel {
    margin-bottom: 0px;
    }
.treeview > table.tree {
    width: 100%;
    margin-top: 5px;
}
.treeview > table.tree > thead > tr > th{
    text-align: left;
    font-weight: 800;
    color: #63aea1;
} 
form-control input-sm{
}

.treeview > table.tree img.column-affix {
    width: 20px;
    height: 20px;
    margin-right: 1em;
}
img.global_search-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.alert-info {
    background-color: #63aea1;
    border-color: rgba(18, 143, 118, 0.77);
    color: #ffffff;
}
.alert-danger {
    background-color: rgb(208, 110, 86);
    border-color: #d06e56;
    color: #ffffff;
}
.has-error .form-control, .has-error .form-control:focus {
    border: 2px solid #d06e56;
    box-shadow: 0px 0px 2px 1px #d06e56;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label, .has-error .form-control-feedback {
    color: #d06e56;
}
.close {
    float: right;
    font-weight: bold;
    line-height: 1;
    color: white;
    margin-left: 5px;
 
}

body > div.ask-dialog.modal.fade.in > div{
    padding-top: 10%;

}

.glyphicon-star,.glyphicon-star-empty{
    color: #63aea1;
}
.nav>li>a {

    color: #2c3e50;
}
.screen-container {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 13px 0px rgba(44, 62, 80, 0.07);
    border-radius: 4px;
}
.toolbar-wrapper{
    box-shadow: 0px 0px 13px 0px rgba(44, 62, 80, 0.07);
    border-radius: 4px;

}
.form-control:focus,.input-group:focus,.input-group-sm:focus{
    border: 1px solid rgba(18, 143, 118, 0.41);
    box-shadow: 0px 0px 6px 0px rgba(18, 143, 118, 0.34);  
}
.form-control {
    display: block;
    width: 100%;
    height: 39px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    font-variant-caps: normal;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    font-size: 0.9em;
    color:  #1f628b;
    white-space: nowrap;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(44, 62, 80, 0.15);
}
.table-striped>tbody>tr:nth-of-type(odd):hover{
    background-color: rgba(28, 62, 80, 0.25);
}
.navbar-brand {
    font-size: 15px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(44, 62, 80, 0.95);
}
.tab-pane .active > table .input-group input {
    margin: 2px;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 35px;
    padding: 6px 9px;
    line-height: 1.5;
    border-radius: 3px;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 35px;
    padding: 8px 9px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-notebook>.nav>li>a {
    color: #18bc9c;
}
.form-notebook>.nav>li.active>a{
    color: #2c3e50;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none; 
}
.xexpand>.btn-default {
    color: #ffffff;
    background-color: rgb(77, 188, 156);
    border-color: rgba(33, 149, 130, 0);

}
button img.icon {
    height: 1.3em;
}
textarea.input-sm, select[multiple].input-sm {
    /*height: 145px;*/
}


.panel-default > .toolbar {
    color:white;
    background-color: rgb(38, 113, 143);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgb(38, 112, 146);
}

#menu, #tabs {
    padding-top: 1px;

}
.toolbar-wrapper {
    box-shadow: 0px 0px 13px 0px rgba(106, 117, 128, 0.38);
    border-radius: 4px;
}
.container-fluid {
    /*box-shadow: 0px 0px 13px 0px rgba(106, 117, 128, 0.38);*/

}
.form .nav-tabs {
     margin-bottom: 0px; 
}

.form .form-image_ img {
    width: 2em;
    padding-right: 1px;
}

.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=90);
}
.tooltip.bottom {
    margin-left: 60px;
    padding-top: 0px;
    display: block;
    border-radius: 4px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #1a242f;
    background-color: rgba(180, 188, 194, 0.79);
}

img.favorite-icon {
    margin-right: 7px;
}

.treeview > table.tree > thead > tr > th {
    text-align: left;
    font-weight: 800;
    color:white;
    border-bottom: 1px solid #dce1e4;
}
.glyphicon-triangle-top,.glyphicon-triangle-bottom{

    padding-left: 3px;
    color:#53616e;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(95, 166, 195, 0.15);
    border-bottom: 1px solid rgba(95, 166, 195, 0.15);
    border-top: 1px solid rgba(95, 166, 195, 0.15);
}
.treeview > table.tree > thead > tr:first-child > th {
   background-color: #267092bd;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    background-color: #293138;
    border-radius: 4px;
}

#tabcontent{
    background-color:white;
}

#processing {
    position: fixed;
    top: 15px;
    padding-left: 89px;
    width: 100%;
    z-index: 2000;
    padding-top: 20%;
}
.label-info {

    background: #1b5b87;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: normal; 
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.btn .badge {
    position: relative;
}
.badge {  
    font-weight: normal;
}
.nav>li>a {
    color: #53616e;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #53616e;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-bottom-color: #ecf0f1;
    cursor: default;
}
.caret {
    color: #46b48e;
    /* padding-right: 1px; */
}


.navbar.navbar-default.navbar-static-top{
   /*border-right: 3px solid; */
   font-family: Open sans, Helvetica, sans-serif; 
   background: linear-gradient(141deg, #1b5b87 5%, rgb(38, 127, 130) 75%);
   margin-right: 0px; 
}
.navbar{
   background: linear-gradient(141deg, #1b5b87 5%, rgb(38, 127, 130) 75%);
}
button.close {
    font-size: 21px !important;
}
.close span{
    font-size: 21px;
}
.nav.navbar-nav.navbar-right li>a{
    color: white;
}
.fc-head{
    background-color: #66ada0;
}
.table-bordered > thead{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: white;
}
.fc-icon, .fc-toolbar .fc-center {
    display: inline-block;
  
}
#menu {
  border-image: linear-gradient(to bottom, #46b48ecc, rgba(0, 0, 0, 0)) 1 100%;
  margin-top: -1px;
}
.glyphicon-star, .glyphicon-star-empty {
   
    color: #27758c;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar.navbar-inverse.navbar-static-top {
    color: white;
}
.navbar .btn-default {
    color: white;
}
.navbar-inverse {
    background-color: rgb(38, 113, 143);
    border-color: rgb(38, 113, 143);
}
.modal-header{
    background-color: rgb(38, 113, 143);
}
.btn.btn-primary{
    background-color: rgb(38, 113, 143);   
}
a.navbar-brand > span{
    color: white;
}
.navbar-default .badge {
    background-color: #46b48e;
    color: #ecf0f1;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #46b48e;
    border-color: #46b48e;  
     }  
#menu {
    padding-top: 5px;
}

#user-logout > a:hover {
    color: #1a5a8b;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1afbad;
    background-color: transparent;
}
.mousetrap {

    height: 42px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #1afbad;
    background-color: transparent;
}
.panel-default>.panel-heading .badge,
    div.window-form-toolbar .badge {
    color: #ecf0f1;
    background-color: #26718f;
}
.glyphicon-star, .glyphicon-star-empty {
    color: #48b48a;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-brand {
    color: white;
}
/* Increase size of selection widgets */
select.input-sm {
    height: 35px;
}

/* Increase size of many2one icons */
.input-sm .icon-input, .input-group-sm .icon-input {
    line-height: 35px;
}

.filter-box .btn-default {
    color: rgb(38, 113, 143);
    background-color: rgba(95, 166, 195, 0.35);
    border-width: 0px;
}
span.input-group-btn{
    background-color: rgba(95, 166, 195, 0.35);
    border-radius:3px;
}

/*  VIEW LISTS    */
html[theme="default"] select.input-sm, html[theme="default"] select.form-control.input-sm{
    font-size: 1em !important;
}
html[theme="default"] textarea.input-sm, html[theme="default"] textarea.form-control.input-sm, html[theme="default"] input.form-control.input-sm, html[theme="default"] input[type="text"].input-sm, html[theme="default"] input[type="password"].input-sm, html[theme="default"] input[type="email"].input-sm, html[theme="default"] input[type="number"].input-sm, html[theme="default"] [type="text"].form-control.input-sm, html[theme="default"] [type="password"].form-control.input-sm, html[theme="default"] [type="email"].form-control.input-sm, html[theme="default"] [type="tel"].form-control.input-sm, html[theme="default"] [contenteditable].form-control.input-sm {
    font-size: 1em !important;}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 rgb(38, 113, 143) !important;
    box-shadow: inset 0 -2px 0 rgb(38, 113, 143) !important;
}
html[theme="default"] select.form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 rgb(38, 113, 143) !important;
    box-shadow: inset 0 -2px 0 rgb(38, 113, 143) !important;
}
html[theme="default"] .radio-inline input[type="radio"]:before {

    background-color: #3465a4;
}
html[theme="default"] input[type="checkbox"]:focus:before,
html[theme="default"] .checkbox input[type="checkbox"]:focus:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:focus:before {
    border-color: #3465a4;
}
html[theme="default"] input[type="checkbox"]:checked:before,
html[theme="default"] .checkbox input[type="checkbox"]:checked:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:checked:before,
html[theme="default"] input[type="checkbox"]:indeterminate:before,
html[theme="default"] .checkbox input[type="checkbox"]:indeterminate:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:indeterminate:before {
    background-color: #3465a4;
    border-color: #3465a4;
}
td>.btn.btn-default{
    background-color: #46b48e;
}
.panel-default > .panel-heading .badge, div.window-form-toolbar .badge{
    background-color: #46b48e;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 0;
}
.list-group-item-selected {
  color: black;
  background-color: #d9edf7;
}
.table > thead > tr > td.selected,
.table > tbody > tr > td.selected,
.table > tfoot > tr > td.selected,
.table > thead > tr > th.selected,
.table > tbody > tr > th.selected,
.table > tfoot > tr > th.selected,
.table > thead > tr.selected > td,
.table > tbody > tr.selected > td,
.table > tfoot > tr.selected > td,
.table > thead > tr.selected > th,
.table > tbody > tr.selected > th,
.table > tfoot > tr.selected > th {
  background-color: #9fd3ed;
}
.table-hover > tbody > tr > td.selected:hover,
.table-hover > tbody > tr > th.selected:hover,
.table-hover > tbody > tr.selected:hover > td,
.table-hover > tbody > tr:hover > .selected,
.table-hover > tbody > tr.selected:hover > th {
  background-color: #e7f2f6;
}
.column-many2one>a{
    color:#337ab7;
}
.column-reference>a{
    color:#337ab7;
}
.panel-default > .panel-heading {
    background-color: rgb(38, 113, 143);
}
html[theme="default"] .nav-tabs > li.active > a, html[theme="default"] .nav-tabs > li.active > a:focus {
    -webkit-box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    color: rgb(38, 113, 143);
}
html[theme="default"] .nav-tabs > li > a:hover, html[theme="default"] .nav-tabs > li > a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    color: rgb(38, 113, 143);
}
html[theme="default"] .nav-tabs > li.active > a, html[theme="default"] .nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    box-shadow: inset 0 -2px 0 rgb(38, 113, 143);
    color: rgb(38, 113, 143);
}
html[theme="default"] .btn-default:focus, html[theme="default"] .btn-default:hover, html[theme="default"] .btn-default:active:hover {
    color: rgb(38, 113, 143);
}
#menu {
    border-image: linear-gradient(to bottom, #46b48ecc, rgba(0, 0, 0, 0)) 1 100%;
}
html[theme="default"] .btn-default.disabled {
    background-color: rgba(255, 255, 255, 0.5);
}
.caret {
    color: #3465a4;
}
.progress-bar{
    background-color: #3465a4;
}
html[theme="default"] .progress-bar:last-child::before {
    background-color: #629eb9bd;
}
bg-primary{
    background-color: #3465a4;
}
.form .form-richtext .richtext {
    min-height: 10em;
    overflow-y: scroll;
}
.email .email-richtext {
    min-height: 10em;
    overflow-y: scroll;
}

.navbar-inverse {
  border-color: #3465a4;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #3465a4;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #3465a4;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #3465a4;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #3465a4;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #3465a4;
  }
}
